body {
  margin: 0;
  font-family: "Roboto";
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.Appbar {
  flex-grow: 1;
}

.Appbar h4 {
  flex: 1;
}

.issue-list {
  flex-grow: 1;
}

.issue-item {
  min-width: 450px;
  max-width: 450px;
}

.issue-item a {
  text-decoration: none;
}

.nav a {
  text-decoration: none;
}
